<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>网站主页</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="static/index.css">
</head>
<body>
    <header>
        <h1>欢迎来到{{ web_name }}网站,
            {% if username %}
            {{ username }}
            {% else %}
            访客{{ user_ip }}
            {% endif %}
        </h1>
        <nav>
            {% if username %}
            {% else %}
                <a href="{{ url_for('login') }}">登录</a>
                <hr/>
                <a href="{{ url_for('register') }}">注册</a>
            {% endif %}
        </nav>
        {% if avatar %}
        <div class="avatar-container">
            <img src="{{ avatar }}" alt="用户头像" style="width:50px;height:50px;">
            <div class="avatar-menu" style="display: none;">
                <a href="{{ url_for('logout') }}">注销</a>
                <hr>
                <a href="{{ url_for('profile') }}">个人设置</a>
            </div>
        </div>
        {% else %}
        {% endif %}
    </header>
    <main>
        <h2>这是主页内容</h2>
        <p>后续添加内容</p>
    </main>
    <footer>
        <p>&copy; 2023 我的网站. <a href="#">隐私政策</a> | <a href="http://github.com/y4vyq/web-server">联系我们（github）</a>
    </footer>
    <script src="static/jquery-3.6.0.min.js"></script>
    <script>
    $(document).ready(function() {
        $('.avatar-container').hover(
            function() {
                $(this).find('.avatar-menu').stop(true, true).slideDown(200);
            },
            function() {
                $(this).find('.avatar-menu').stop(true, true).slideUp(200);
            }
        );
        $(document).mouseup(function (e) {
            var container = $(".avatar-container");
            if (!container.is(e.target) && container.has(e.target).length === 0) {
                container.find(".avatar-menu").slideUp(200);
            }
        });
    });
    </script>
</body>
</html>
